.post-form {
  width: 540px;
  font-size: 14px;
  background: #fff;
  padding: 15px 0 0;
  word-wrap: break-word;
  border-radius: 3px;
  margin: 15px;
}

.post-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post-form .post-form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgb(224, 225, 226);
}

.post-form .post-form-content .upload-img-btn {
  width: 75%;
  margin: 0 auto;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: rgb(169, 179, 188);
  color: white;
  border: none;
}

.post-form .post-form-content img {
  width: 100%;
}

.post-form .post-form-content .post-form-text-title {
  padding: 15px;
  font-family: "Gibson","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  border: none;
  border-style: none;
  outline: none;
}

.post-form .post-form-content .post-form-text-body {
  padding: 25px 15px;
  font-family: "Gibson","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  border: none;
  outline: none;
  border-style: none;
  resize: none;
}

.post-form .post-form-content .post-form-quote-body {
  padding: 25px 15px;
  font-family: Garamond, georgia, serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 35px;
  color: #343434;
  border: none;
  outline: none;
  border-style: none;
  resize: none;
}

.post-form .post-form-content .post-form-quote-source {
  padding: 0 15px;
  font-family: "Gibson","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4px;
  border: none;
  border-style: none;
  outline: none;
}

.post-form .post-form-btn-bar {
  display: flex;
  margin: 15px;
  justify-content: space-between;
}

.post-form .post-form-btn-bar button {
  position: relative;
  width: 50px;
  height: 28px;
  border: none;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  border-radius: 2px;
  padding: 5px, 10px;
  outline: none;
}

.post-form .post-form-btn-bar .post-form-btn-close {
  background-color: rgb(157, 166, 175);
}
.post-form .post-form-btn-bar .post-form-btn-post {
  background-color: rgb(82, 158, 204);
}
