.feed {

}

.post {
  width: 540px;
  font-size: 14px;
  background: #fff;
  word-wrap: break-word;
  border-radius: 3px;
  margin: 15px;
}

.post .post-util-bar {
  display: flex;
  justify-content: space-between;
}

.post .post-author {
  font-family: "Helvetica Neue","HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 18px;
}

.post .post-util-bar button {
  font-family: "Helvetica Neue","HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-right: 10px;
  background-color: #fff;
  border: none;
  border-style: none;
  outline: none;
  cursor: pointer;
}

.post .post-photo {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.post .post-video {
  display: block;
  margin: 0 auto;
}

.post .post-title {
  font-family: "Gibson","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  padding: 18px;

}

.post .post-body {
    font-family: "Helvetica Neue","HelveticaNeue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
    font-style: normal;
    color: #444;
    padding: 18px;
}

.post .post-quote-body {
  font-family: Garamond, georgia, serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.4;
  color: #343434;
  padding: 18px;
  text-align: center;
}

.post .post-quote-source {
  font-family: "Helvetica Neue","HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
  font-style: normal;
  color: #444;
  padding: 18px;
  right: 450px;
}

.post .post-link {
  font-family: "Helvetica Neue","HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  font-style: italic;
  text-align: center;
  padding: 25px 15px;
}

.post .post-link a {
  color: rgb(105,105,105);
  text-decoration: none;
}

.post .post-link a:hover {
  color: rgb(105,105,105);
  text-decoration: underline;
}
