
.post {
  width: 540px;
  font-size: 14px;
  background: #fff;
  word-wrap: break-word;
  border-radius: 3px;
  margin: 15px;
}

.post .post-util-bar {
  display: flex;
  justify-content: space-between;
}

.post .post-author {
  font-family: "Helvetica Neue","HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 18px;
}

.post .post-util-bar button {
  font-family: "Helvetica Neue","HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-right: 10px;
  background-color: #fff;
  border: none;
  border-style: none;
  outline: none;
  cursor: pointer;
}

.post .post-likes-bar {
  height: 33px;
}

.post .post-likes-bar .post-edit-btn {
  font-weight: 400;
  font-size: 18px;
  background-color: #fff;
  border: none;
  border-style: none;
  outline: none;
  cursor: pointer;
  margin-left: 505px;
  width: 18px;
  height: 18px;
}

.post .post-likes-bar .post-like-btn {
  display: relative;
  font-weight: 700;
  font-size: 24px;
  background-color: #fff;
  border: none;
  border-style: none;
  outline: none;
  cursor: pointer;
  margin-left: 498px;
  width: 30px;
  height: 27px;
}


.post .post-photo {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.post .post-video {
  display: block;
  margin: 0 auto;
}

.post .post-audio {
  display: block;
  margin: 0 auto;
}

.post .post-title {
  font-family: "Gibson","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  padding: 10px 18px;
  margin-left: 5px;

}

.post .post-body {
    font-family: "Helvetica Neue","HelveticaNeue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
    font-style: normal;
    color: #444;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 13px;
    padding-bottom: 10px;
    margin-left: 5px;
}
.post .post-body-centered {
    font-family: "Helvetica Neue","HelveticaNeue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
    font-style: normal;
    color: #444;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 13px;
    padding-bottom: 10px;
    text-align: center;
}

.post .post-quote-body {
  font-family: 'Satisfy', cursive;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.4;
  color: #343434;
  padding: 18px;
  text-align: center;
  text-shadow:
}

.post .post-quote-source {
  font-family: 'Satisfy', cursive;
  font-weight: 100;
  line-height: 1.4;
  font-size: 20px;
  font-style: normal;
  color: #444;
  padding: 18px;
  margin-left: 40px;
}

.post .post-link {
  font-family: 'Aldrich', sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  padding: 25px 15px;
  width: 80%;
  margin: 0 auto;
  background-color: #F0F0F0;
}

.post .post-link:hover {

}

.post .post-link a {
  color: rgb(95,95,95);
  text-decoration: none;
}

.post .post-link a:hover {
  text-decoration: underline;
}
