.post-navbar {
  margin: 15px;
  padding-left: 75px;
}

.post-navbar .post-navbar-btn {
  width: 90px;
  height: 99px;
  background-color: #fff;
  box-sizing: border-box;
  border: none;
  border-right: 1px solid rgba(130,130,130, 0.4);
}

.post-navbar .post-navbar-btn:last-of-type {
  border: none;
}

.post-navbar .post-navbar-btn div {
  font-size: 34px;
  font-weight: 400;
  padding: 3px;

}

.post-navbar .post-navbar-btn div .fa-font{
  color: rgb(68, 68, 68);
}

.post-navbar .post-navbar-btn div .fa-camera-retro{
  color: rgb(217, 94, 64);
}

.post-navbar .post-navbar-btn div .fa-quote-left{
  color: rgb(242, 153, 46)
}

.post-navbar .post-navbar-btn div .fa-link{
  color: rgb(86, 188, 138);
}

.post-navbar .post-navbar-btn div .fa-comment-alt{
  color: rgb(82, 158, 204);
}

.post-navbar .post-navbar-btn div .fa-headphones{
  color: rgb(167, 125, 194);
}

.post-navbar .post-navbar-btn div .fa-video {
  color: rgb(116, 128, 137);
}

.post-navbar .post-navbar-btn span {
  color: rgb(105, 105, 105);
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
}

.post-navbar .post-create-btn {
  width: 48px;
  height: 28px;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #529ecc;
  color: #fff;
  border: none;

}
