body {
  background-color: #314972;
  /* #31486b */
  /* #36465d; */
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(120,120,120, 0.8);
  box-sizing: border-box;
  margin-bottom: 30px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #314972;
  z-index: 90;
  opacity: 0.9;
}

@keyframes squiggle {
  0%   {color:rgb(217, 94, 64); transform:scale(1.03);}
  25%  {color:rgb(242, 153, 46); transform:scale(0.97);}
  50%  {color:rgb(86, 188, 138); transform:scale(1);}
  75%  {color:rgb(167, 125, 194); transform:scale(0.98);}
  100% {color:rgb(116, 128, 137); transform:scale(1.03);}
}

.navbar-logo {
  color: #fff;
  font-size: 36px;
  margin-left: 15px;
  animation-name: squiggle;
  animation-duration: 1.88s;
}

/* .navbar-logo-animate {
  color: #fff;
  font-size: 36px;
  margin-left: 15px;
  animation-name: squiggle;
  animation-duration: 1.88s;
} */

.navbar-logo:hover {
  color: #fff;
  font-size: 36px;
  margin-left: 15px;
  transform:scale(1.05);
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
}

.navbar-greeting {
  font-family: "Helvetica Neue","HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ddd;
  padding-right: 20px;
  margin:20px 8px 10px 8px;
  vertical-align: middle;
  display: inline-block;
  width: 250px;
  text-align: right;
}

.navbar .logout-btn {
  display: inline-block;
  box-sizing: border-box;
  color: #444;
  background-color: #fff;
  cursor: pointer;
  padding: 5px 7px;
  margin: 15px 15px 15px 8px;
  border-radius: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;

}

.navbar .logout-btn:focus {
  outline: none;
  background-color: #ddd;
}

.navbar .sign-btn {
  position: absolute;
  box-sizing: border-box;
  color: #444;
  background-color: #fff;
  cursor: pointer;
  padding: 5px 7px;
  margin-right: 15px;
  border-radius: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  right: 15px;
  bottom: 15px;
}

.navbar .sign-btn:focus {
  outline: none;
  background-color: #ddd;
}

.logo {
  font-size: 56px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  width: 232px;
  height: 50px;
  padding: 45px;
  text-align: center;
}

.links {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0.95;
  left: -51px;
  top: 380px;
  bottom: 10px;
  background-color: #FEFEFE;
  width: 63px;
  height: 110px;
  border-radius: 5px;
  transition: 0.35s;
}

.links:hover {
  left: -3px;
}

.links a {
  color: #1D242E;
  font-size: 40px;
  margin: 4px 0;
  cursor: pointer;
  opacity: 0.8;
  text-align: center;
}

.links a:hover {
  text-shadow: 0 0 2px #cacaca;
  transform: scale(1.03);
}

.splash-content {
  width: 100vw;
  height: 600px;
}

/* .splash-content::after {
  background: url("https://res.cloudinary.com/dxyit2phe/image/upload/v1520720604/bogdan-dada-156739-unsplash_sarzuj.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
} */

.splash-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 175px;
  width: 800px;
  margin: 0 auto;

}

.splash-content h1 {
  font-size: 56px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  width: 300px;
  text-align: center;
  padding: 15px;
}

.splash-content p {
  width: 900px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 36px;
  padding: 12px;
}

.splash-content button {
  width: 250px;
  cursor: pointer;
  padding: 12px;
  margin-top: 30px;
  margin-bottom: 3px;
  border-radius: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: rgb(82, 158, 204);
  color: white;
  border: none;
}

.splash-content button:focus {
  outline: none;
  background-color: rgb(79, 148, 192);
}

.splash-bg {
  background-image: url("https://res.cloudinary.com/dxyit2phe/image/upload/v1520720604/bogdan-dada-156739-unsplash_sarzuj.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-page{
  background-image: url("https://res.cloudinary.com/dxyit2phe/image/upload/v1520823562/thought-catalog-214785-unsplash_k3eviv.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

.session-page {
  background-image: url("https://res.cloudinary.com/dxyit2phe/image/upload/v1520824113/sabri-tuzcu-197978-unsplash_sisabd.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.session-form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 740px;
  height: 500px;
}

.session-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.session-form-input {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.session-form-input input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;

}

.session-form-btn {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.session-form-btn button {
  width: 100%;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 3px;
  border-radius: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: rgb(82, 158, 204);
  color: white;
  border: none;
}

.session-form-btn button:focus {
  outline: none;
  background-color: rgb(79, 148, 192);
}


.errors-container {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  text-align: center;

}
